<!DOCTYPE html>
<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<title>Experiment No. 5</title>
</head>

<body>
    <h1>Que.1. New Employee Registration Form with validation using ng-show</h1>
<h3>Employee Registration</h3>

<form name="empForm">
    Name:
    <input type="text" name="ename" ng-model="emp.name" required>
    <span ng-show="empForm.ename.$touched && empForm.ename.$invalid">
        Name is required
    </span><br><br>

    Email:
    <input type="email" name="email" ng-model="emp.email" required>
    <span ng-show="empForm.email.$touched && empForm.email.$invalid">
        Valid email required
    </span><br><br>

    Age:
    <input type="number" name="age" ng-model="emp.age" required>
    <span ng-show="empForm.age.$touched && empForm.age.$invalid">
        Age required
    </span><br><br>

    <input type="submit" value="Register">
</form>
</body>
</html>
