<!DOCTYPE html>
<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<h3>Employee Registration</h3>

<form name="empForm">
    Name:
    <input type="text" name="ename" ng-model="emp.name" required>
    <span ng-show="empForm.ename.$touched && empForm.ename.$invalid">
        Name is required
    </span><br><br>

    Email:
    <input type="email" name="email" ng-model="emp.email" required>
    <span ng-show="empForm.email.$touched && empForm.email.$invalid">
        Valid Email required
    </span><br><br>

    Department:
    <select name="dept" ng-model="emp.dept" required>
        <option value="">Select</option>
        <option>HR</option>
        <option>IT</option>
    </select>
    <span ng-show="empForm.dept.$touched && empForm.dept.$invalid">
        Department required
    </span><br><br>

    <input type="submit" value="Register">
</form>

</body>
</html>
